I*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/library

*.jar

*.jar

*.class

library/build/intermediates/classes/debug/com/baoyz/swipemenulistview/SwipeMenuAdapter.class

library/build.gradle

library/build/intermediates/bundles/debug/classes.jar

library/build/intermediates/res/resources-debug-androidTest.ap_

PauApp.iml

library/build/outputs/aar/library-release.aar

library/build/outputs/aar/library-debug.aar

library/build/intermediates/res/resources-debug-androidTest.ap_

library/build/intermediates/incremental/packageReleaseResources/merger.xml

library/build/intermediates/incremental/packageDebugResources/merger.xml

library/build/intermediates/incremental/mergeReleaseResources/merger.xml

library/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml

library/build/intermediates/incremental/mergeReleaseAssets/merger.xml

library/build/intermediates/incremental/mergeDebugResources/merger.xml

library/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml

library/build/intermediates/incremental/mergeDebugAssets/merger.xml

library/build/intermediates/incremental/mergeDebugAndroidTestResources/merger.xml

library/build/intermediates/classes/release/com/baoyz/swipemenulistview/SwipeMenuListView.class

library/build/intermediates/incremental/mergeDebugAndroidTestAssets/merger.xml

library/build/intermediates/classes/release/com/baoyz/swipemenulistview/SwipeMenuLayout.class

library/build/intermediates/classes/release/com/baoyz/swipemenulistview/SwipeMenuAdapter.class

library/build/intermediates/classes/debug/com/baoyz/swipemenulistview/SwipeMenuListView.class

library/build/intermediates/classes/debug/com/baoyz/swipemenulistview/SwipeMenuLayout.class

library/build/intermediates/classes/debug/com/baoyz/swipemenulistview/SwipeMenuAdapter.class

library/build/intermediates/bundles/release/classes.jar

library/build/intermediates/bundles/debug/classes.jar

library/build.gradle

app/src/main/java/com/high_technology_software/android/pauapp/view/manage/ManageMenuCategoryActivity.java
